@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
     background-color: rgb(255, 247, 247);
      max-width: 100%;
}
 .container{
    border: 2px solid black;
    height: 26pc;
    margin: 10% auto;
    width: 70pc;
}
 .h-5{
    text-align: center;
    font-style: normal;
}
